@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    background-color: #F6F5F5;
    overflow-x: hidden;
}
/* navbar */
#logo{
    margin-right: auto;
    
}
#logo a{
    color: #F6F5F5;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}
/*.navbar-brand{
    font-family: 'Poppins', sans-serif;
}*/

#nabar{
    background-color: #276678;
}
#navbarNav a{
    color: #F6F5F5;
}
#logo img{
    width: 25px;
    height: 25px;
    margin-top: -7px;
}

#logo{
    display: flex;
}

/*section 4*/
.container8{
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: #276678;
    margin-top: 40px;
}
@media (max-width:576px){
    .trisula{
        gap: 10px;
    }
}
.event4{
    height: 22rem;
    border-radius: 8px 8px 0 0;

}
.event4 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 8px 0 0;
}

.event5{
    height: 22rem;
    border-radius: 8px 8px 0 0;

}
.event5 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 8px 0 0;
}

.event6{
    height: 22rem;
    border-radius: 8px 8px 0 0;

}
.event6 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 8px 0 0;
}
.text1{
    margin-top: 32px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*.text1 button{
    border-radius: 5px;
    border-color: #1687A7;
    background-color: #F6F5F5;
    color: #276678;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.text1 button:hover{
    animation: pulsate 1s ease-in;
}

@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 25px #276678,
        0 0 50px #1687A7;
    }
}
*/
/*end section 4*/

/*section footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.footer{
	background-image:url(img/cb_bg3.png);
    padding-top: 20px;
}
.footer-col{
   padding: 0 15px;
}
.footer-col h4{
	font-size: 24px;
	color: #F6F5F5;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #F6F5F5;
	height: 2px;
	box-sizing: border-box;
	width: 280px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #F6F5F5;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #F6F5F5;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.social-links img{
	width: 75px;

}
.gabungan{
    padding: 0;
    margin: 0;
    margin-left: -33px;
}
ul{
	list-style: none;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.part1{
	margin-bottom: 10px;
}
}
@media(min-width: 574px){
    /*.akhiran{
        display: flex;
    }*/
	.gabungan{
		display: flex;
		width: 500px;
	}
	.part1{
		margin-right: 20px;
		width: 150px;
	}
	.part2{
		
		width: 200px;
	}
}
@media(min-width: 574px){
    .akhiran{
        display: flex;
    }
}

/*section 6 page 2*/
.container6 {
    padding: 0px 0;
    align-items: center;
    background-color:#ffffff ;
    color: #276678;
    justify-content: center;
    padding-bottom: 75px;
    padding-top: 5px;
}
.container6 h2{
    background-color: #ffffff;
    text-align: center;
    color:#276678 ;
    display: flex;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}
.filosofi{
    align-items: center;
    justify-content: center;
    display: flex;
}
.filosofi img{
    width: 125px;
    height: 125px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.deskripsi{
    margin: 0px 60px;
    border-radius: 8px;
    background-color: #276678;
    justify-content: center;
    gap: 5px;
    color: #FFFFFF;
    line-height: 12px;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*akhiran section 6*/

/*section 7*/
.container7{
    margin: 0px 60px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 18px;
    padding: 60px 30px;
    gap: 5px;
    text-align: center;
    font-weight: bolder;
    color: #276678;
    background-color: #F6F5F5;
    border-radius: 15px 15px 15px 15px;

}
/*akhir section 7*/

/*section 8*/
.container9 {
    margin: 30px 60px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 15px;
    padding: 15px 30px;
    gap: 5px;
    text-align: center;
    font-weight: bolder;
    color: #276678;
    background-color: #ffffff;
}
@media (max-width:576px){
    .staff{
        gap: 5px;
    }
}

.staff{
    margin-top: 80px;
    margin-bottom: 80px;
}
.staff1{
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    margin-bottom: 40px;
}
.internal {
    background-image: url(img/p4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;
}
.divisi1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divisi2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.internal img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.textp22{
    padding-left: 55px;
    margin-bottom: 5px;
}*/
.psdm{
    background-image: url(img/p5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;

}/*
.psdm img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

*/
.staff2{
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
}/*
.textp23{
    padding-left: 25px;
    margin-bottom: 5px;
}*/
.humas{
    background-image: url(img/p6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;
}/*
.humas img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.textp24{
    padding-left: 25px;
    margin-bottom: 5px;
}*/
.infokom{
    background-image: url(img/p7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;
}/*
.infokom img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}
*/
